<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ppm.imagine">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SplashActivity" android:screenOrientation="portrait"> </activity>
        <activity android:name=".FirebaseConnection" android:screenOrientation="portrait"> </activity>
        <activity android:name=".StartMenuActivity" android:screenOrientation="portrait"> </activity>
        <activity android:name=".ConfiguratorActivity" android:screenOrientation="portrait"> </activity>
        <activity android:name=".MirrorActivity" android:screenOrientation="portrait"> </activity>
        <activity android:name=".WidgetSelectConfiguratorList" android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ppm.imagine.ConfiguratorActivity" />
        </activity>
        <activity android:name=".ConfiguratorWidgetWeatherActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".WidgetTwitterConfigurator" android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ppm.imagine.WidgetSelectConfiguratorList" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="158214180a194901e801f1e49d85ffc7c8ff8fb5" />


        <activity android:name=".WidgetTimeConfiguratorActivity" android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ppm.imagine.WidgetSelectConfiguratorList" />
        </activity>
        <activity android:name=".WidgetTwitterLoginActivity" android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ppm.imagine.WidgetSelectConfiguratorList" />

        </activity>
    </application>

</manifest>